body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-family: 'Montserrat', sans-serif;
}

:root{
  font-size: 4vh;
}

.app {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  scroll-snap-type: x mandatory;
  overflow: auto;
}

.section{
  min-height: 100vh;
  scroll-snap-align: center;
}

.section-list{
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
}

.section-time{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
  background: radial-gradient(circle, rgb(224, 219, 219) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);
}

.section-time__time{
  width: 100%;
  text-align: center;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 11vh;
  margin: .5vh 1.5vh;
}

.form__input{
  width: 70vw;
  height: calc(10vh - 2px);
  margin: 0;
  padding: 0 2px;
  font-size: .9rem;
  border: 1px solid gray;
  border-radius: 5px 0 0 5px;
  resize: none;
  outline: none;
}


.form__btn{
  width: 25vw;
  height: 10vh;
  font-size: .9rem;
  border: none;
  border: 1px solid gray;
  border-radius: 0 5px 5px 0;
  border-left: none;
  
  background: linear-gradient(140deg, rgba(246,243,244) 0%, rgba(228,221,222) 55%, rgb(209, 198, 198) 100%);
}

.form__btn:active{
  background: linear-gradient(140deg, rgba(209, 198, 198) 0%, rgba(228,221,222) 10%, rgb(246,243,244) 100%);
}


.list{
  width: 95vw;
  padding: 0; 
  margin: 1vh 0;
  max-width: 100vw;
  list-style: none;
}


.list__empty{
  text-align: center;
}

.list__empty-exit-active {
  animation: fade-out 300ms ease-out;
}

.list__empty-exit {
  opacity: 0;
}


.list__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95vw;
  padding: 1vh 0;
  border-bottom: 1px solid gainsboro;
  word-wrap: break-word
}

.list__item-enter {
  animation: fade-in 500ms ease-out;
}


.list__item__massage{
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  height: 80%;
}


.list__item__time{
  width: 100%;
  font-size: .5rem;
  font-weight: 500;
  text-align: right;
  height: 20%;
}

.list__item-enter .list__item__time{
  transform: translateX(50px);
  transition: transform 300ms ease-out;
}

.list__item-enter-active .list__item__time{
  transform: translateX(0);
  transition: transform 300ms ease-out;
}


@keyframes fade-in {
  0%{
    filter: blur(2px);
    opacity: 0;
  }
  100%{
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes fade-out {
  0%{
    filter: blur(0);
    opacity: .3;
  }
  100%{
    filter: blur(6px);
    opacity: 0;
  }
}